# Manifest syntax https://docs.python.org/3/distutils/sourcedist.html
recursive-exclude __pycache__  *.pyc *.pyo *.orig

exclude *.git*
exclude *.sh
exclude nirjas/languages/tests*

include LICENSE

prune .git
prune venv
prune .venv
prune nirjas/languages/tests

